body {
  background-color: black;
  color: rgb(110,118,125);
  font-family: "Roboto", system-ui;
}

.wd-borders-preset {
  border-color: rgb(47,51,54);
  border-width: 1px;
  border-style: solid;
}

.wd-mg-preset {
  margin-left: 16px;
}

.wd-48by48 {
  height: 48px;
  width: 48px;
}

#bookmarks {
  margin-top: 12px;
  margin-bottom: 0;
  color: white;
  font-size: 20px;
}

.wd-person-name {
  font-weight: bold;
  color: white;
  margin-left: 12px;
  font-size: 15px;
}

#webdev {
  margin-top: 0;
}

.wd-float-done {
  clear: both;
}

.wd-gray-text {
  color: rgb(110,118,125);
}

.wd-avatar{
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-top: 12px;
  float: left;
  position: relative;
  top: -10px;
}

.wd-inline {
  display: inline;
}

.wd-sectionb {
  border-top-width: 1px;
  padding-top: 12px;
  margin-left: 0;
  position: relative;
  top: -38px;
}

.wd-section-d {
  max-width: 506px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-top: 10px;
  position: relative;
  left: 60px;
  top: -10px;
}

.wd-section-e {
  width: 504px;
  height: 264px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  left: 75px;
  top: -48px;
}

.wd-section-f {
  width: 480px;
  padding: 12px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  left: 75px;
  top: -52px;
}

.wd-title {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.wd-icons-container {
  margin-top: 12px;
  position: relative;
  left: 80px;
  top: -40px;
}
.wd-icon {
  text-align: start;
  padding-right: 12px;
  display: inline-block;
  width: 15%;
}
.wd-heart {
  color: red;
}

.wd-12px-left-mg {
  margin-left: 12px;
}

p {
  color: lightgray;
  font-size: 13px;

}